@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.container{
  max-width: 1500px;
  margin: 0 auto;
}

.my-toast {
  top: 80px !important;   /* qancha pastroqqa tushirishni shu bilan nazorat qilasan */
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}